mixin card1(image, discount, grid)
  .project-preview-card(class=grid)
    .project-preview-card__container
      a(href="#").project-preview-card__image 
        span.project-preview-card__index 20464111
        if image==true
          .card-labels
            span.card-label.card-label_style-1 Sale
            span.card-label.card-label_style-2 New
            span.card-label.card-label_style-3 Hit
          .image.image_cover
            img(src="img/image 28.jpg", alt="image").lazyload
          span.project-preview-card__status Премиум
        else 
          .card-labels
            span.card-label.card-label_style-3 Hit
          .image.image_contain
            img(src="img/icons/project-placeholder.svg", alt="placeholder").lazyload
          span.project-preview-card__status Эконом
      .project-preview-card__content
        .project-preview-card__content-top
          img(src="img/icons/rating_3.5.svg", alt="image").project-preview-card__rating
          a(href="#").project-preview-card__title Модель дома кд25 180 м2 с террасой три спальни гардероб и санузел
        .project-preview-card__content-bottom
          .project-preview-card__buttons  
            a(href="#").button.button_style-1 Узнать цену
            a(href="#").button.button_style-1.button_icon
              svg.icon
                use(xlink:href="img/icons/icons-sprite.svg#comparison")
          .card-price
            span.card-price__label.card-price__label_style-1 Реализован 12 раз
            .card-price__content
              span.card-price__current
                | 89 537,50 
                span  ₽/шт 
              if image==true
                span.card-price__old 99 999,99

mixin card2(title, image, grid)
  .category-card(class=grid)
    a(href="#").category-card__container
      if image==false
        .image.image_contain
          img(data-src='img/icons/services.svg', alt="image").lazyload
      else
        .image.image_cover
          img(data-src=image, alt="image").lazyload
      h3.category-card__title=title
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-right")

mixin card3(image, classes)     
  .model-block(class=classes)
    a(href="#").model-block__container.image.image_cover
      img(src=image, alt="image").lazyload
      .model-block__content
        span.card-label.card-label_style-3.model-block__label Дом
        h6.model-block__title Модель дома кд25 180 м2 с террасой три спальни гардероб и санузел
        span.model-block__button Подробнее 
          svg.icon
            use(xlink:href="img/icons/icons-sprite.svg#arrow-right")

mixin card4(image, classes, label, title)     
  .product-card(class=classes)
    .product-card__container
      if image==true
        a(href="#").product-card__image.image.image.image_contain
          .card-labels
            span.card-label.card-label_style-1 New
          img(src="img/soppka.png", alt="image").lazyload
          span.product-card__status Премиум
      else 
        a(href="#").product-card__image.image.image.image_contain.image_no-image
          .card-labels
            span.card-label.card-label_style-3 Hit
            span.card-label.card-label_style-2 Sale
          img(src="img/icons/product-placeholder.svg", alt="placeholder").lazyload
          span.product-card__status Эконом
      .product-card__content
        .product-card__content-top
          .product-card__index 20464111
          img(src="img/icons/rating_3.5.svg", alt="image").product-card__rating
          a(href="#").product-card__title=title

        .product-card__content-bottom
          .card-price.product-card__card-price
            if label==1 
              span.card-price__label.card-price__label_style-1 Товар едет
            else if label==2
              span.card-price__label.card-price__label_style-2 Много
            else if label==3
              span.card-price__label.card-price__label_style-3 Мало
            else if label==4
              span.card-price__label.card-price__label_style-4 Кол-во ограничено
            if label==1
              .card-price__content.card-price__no-price
            else
              .card-price__content
                span.card-price__title Цена, шт: 
                span.card-price__current
                  | 89 537,50 
                  span ₽/шт
                  span.card-price__smaller-price-unit ₽
                if image==true
                  span.card-price__old 99 999,99
          .product-card__buttons  
            if label==1
              a(href="#").button.button_style-1.product-card__get-price.product-card__bottom-item Узнать цену
              if image==true
                a(href="#").button.button_style-1.button_icon.product-card__bottom-item
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#comparison")

            else
              .calc-count-block.calc-count-block_style-2.product-card__bottom-item
                a(href="javascript:void(0);").button.button_style-1.calc-count-block__button.js-minus 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#minus")
                .input.calc-count-block__input
                  input(type="number" name='ddd' value='1').input__element
                a(href="javascript:void(0);").button.button_style-1.calc-count-block__button.js-plus 
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#plus")
              a(href="#").button.button_style-2.button_icon.product-card__bottom-item.product-card__add-to-cart
                svg.icon
                  use(xlink:href="img/icons/icons-sprite.svg#cart")
              if label==2
              else
                a(href="#").button.button_style-1.button_icon.product-card__bottom-item
                  svg.icon
                    use(xlink:href="img/icons/icons-sprite.svg#comparison")

mixin card5(title, classes)
  .small-wiki-card(class=classes)
    a(href="#").small-wiki-card__container
      span.small-wiki-card__label Статья
      .small-wiki-card__image.image.image_cover
        img(data-src="img/image 6.jpg", alt="image").lazyload
        span.small-wiki-card__date АПРЕЛЬ, 2019
      .small-wiki-card__content
        .small-wiki-card__title=title
mixin card6(title)
  .services-item-block.grid__block.col-lg-3.col-sm-6
    a(href="#").services-item-block__container
      h3.services-item-block__title=title
        svg.icon
          use(xlink:href="img/icons/icons-sprite.svg#arrow-right")

mixin news-card(type, classes) 
  .news-preview-block(class=classes)
    a(href="#").news-preview-block__container.image.image_cover
      if type==1
        img(src="img/Rectangle 197.jpg", alt="image").lazyload
      else
        img(src="img/no_img_news.jpg", alt="image").lazyload
      .news-preview-block__content
        if type==1
          span.news-preview-block__label.news-preview-block__label_style-1 Акция
          span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс отправиться MaxRoyal
        else
          span.news-preview-block__label.news-preview-block__label_style-2 Новость
          span.news-preview-block__text С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс

mixin news-card-large(type, classes)
  .news-large-block(class=classes)
    .news-large-block__container
      a(href="#").image.image_cover.news-large-block__image
        if type==1
          img(src="img/Rectangle 197.jpg", alt="image").lazyload
        else
          img(src="img/no_img_news.jpg", alt="image").lazyload
      .news-large-block__content
        if type==1
          span.news-large-block__label.news-large-block__label_style-1 Акция
          h2.news-large-block__title С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс отправиться MaxRoyal
        else
          span.news-large-block__label.news-large-block__label_style-2 Новость
          h2.news-large-block__title С 1 сентября по 31 декабря совершая покупки товаров у вас есть шанс
        a(href="#").button.button_xl.button_style-1.news-large-block__button Подробнее

mixin wiki-large(title, classes)
  .large-wiki-card(class=classes)
    .large-wiki-card__container
      a(href="#").large-wiki-card__link
      span.large-wiki-card__label Статья
      a(href="#").large-wiki-card__image.image.image_cover
        img(src="img/Rectangle 197.jpg", alt="image").lazyload
      .large-wiki-card__content
        span.large-wiki-card__date АПРЕЛЬ, 2019
        h3.large-wiki-card__title=title
        a(href="#").button.button_xl.button_style-1.large-wiki-card__button Подробнее